.main {
  width: 1440px;
    background-color: white;
 margin: 0 auto;
}
.strong {
  color: #3e45e8;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
}
.yellow {
  color: #e8c23e;
}
.bg {
  width: 1440px;
  height: 766px;
  background-image: linear-gradient(to right, #343434, white);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}
.flagtop {
  width: 23px;
  height: 145px;
  position: absolute;
  top: 350px;
  left: 420px;
  background-image: linear-gradient(to bottom, #00e0ff, #1400ff);
}
.flagbottom {
  width: 23px;
  height: 145px;
  position: absolute;
  top: 494px;
  left: 420px;
  background-image: linear-gradient(to bottom, #ffa800, #fff500);
}
.text {
  font-size: 48px;
  white-space: nowrap;
  position: absolute;
  top: 300px;
  color: white;
  margin-left: 140px;
  font-weight: bolder;
  line-height: 150%;
}
.h2 {
  font-size: 40px;
  margin-left: 80px;
  font-weight: bolder;
}
.flagleft {
  width: 390px;
  height: 12px;
  background-image: linear-gradient(to right, #00e0ff, #1400ff);
  position: absolute;
  top: 990px;
}
.flagright {
  width: 390px;
  height: 12px;
  background-image: linear-gradient(to right, #ffa800, #fff500);
  position: absolute;
  top: 990px;
  left: 720px;
}
.cards {
  min-width: 992px;
  max-width: 1200px;
  margin: 70px auto;
}
.card {
  display: inline-block;
  width: 30%;
  border: 5px solid #0d095f;
  min-height: 481px;
  vertical-align: top;
  border-radius: 35px;
  box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}
.card-margine {
  margin: 0 3%;
}
.card__img > img {
  width: 100%;
}
.card__title {
  color: #0072db;
  font-size: 24px;
  font-weight: bold;
  text-indent: 10px;
}
.card__description {
  color: #ff9900;
  font-size: 20px;
  text-indent: 10px;
  line-height: 150%;
}
.h__align {
  width: 45%;
  border-bottom: 7px solid #1400ff;
  text-align: center;
  margin-left: 435px;
}
.img__ukr {
  text-align: center;
}
.btm {
  width: 500px;
  height: 80px;
  margin-left: 465px;
  background-color: #2a61f0;
  text-align: center;
  text-decoration: none;
  font-size: 64px;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  line-height: 130%;
}
.txt_btn {
  text-decoration: none;
}
.footer {
  width: 1440px;
  height: 233px;
  background-image: linear-gradient(to bottom, #013235, #0d0661);
  text-align: center;
}
.link {
  color: #a89d9d;
  font-size: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
